
identifier.sqlite
.idea/vcs.xml
.idea/sqldialects.xml
.idea/senior_core_analyst.iml
.idea/modules.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/dataSources/b6a34142-268b-4306-a522-76d1526aee07.xml
.idea/dataSources/b6a34142-268b-4306-a522-76d1526aee07/storage_v2/_src_/schema/main.uQUzAA.meta
.idea/workspace.xml
.idea/codeStyles/codeStyleConfig.xml
